* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

#header{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p, #currentPalyer{
  margin: 5px;
}

.currentPlayer{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 5px 0 5px 0;
}


.square {
  width: 60px;
  height: 60px;
}

#jogo {
  display: flex;
}

.col {
  background-color: rgb(200, 255, 252);
  border: solid black 3px;
  border-top: none;
  margin: 10px;
  margin-top: none;
  border-radius: 0 0 60px 60px;
  padding: 5px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.disc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  animation-name: bola;
  animation-duration: 2s;
}

.Winner{
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  width:67vw;
  height:20vh;
  color: aliceblue;
  background-color: rgb(100, 163, 200);
  border-radius: 10px;
  position: relative;
  left:2%;
  top:20%;
}
@keyframes bola {
  from{
     transform: translate(0,-120vh);
    }
  to{
    transform: translate(0, 0);
  }
}
.winBlue{}

@keyframes bola {
  from{
     transform: translate(0,-120vh);
    }
  to{
    transform: translate(0, 0);
  }

}

@media screen and (max-width: 450px){
  .square {
    width: 30px;
    height: 30px;
  }

  .col {
    border-radius: 0 0 30px 30px;
    margin: 5px;
    border: solid black 2px;
    border-top: none;
    padding: 1px;
  }
  
}
